@import url('./box2.css');

.box {
    border: 1px solid red;
    background-color: aqua;
    height: 50vh;
    width: 90%;
}

/* morethen min value */
@media screen and (min-width:400px){
    .box {
        border: 1px solid red;
        background-color: green;
        height: 50vh;
        width: 90%;
    }
}

@media screen and (min-width:700px){
    .box {
        border: 1px solid red;
        background-color: red;
        height: 50vh;
        width: 90%;
    }
}

@media screen and (min-width:900px){
    .box {
        border: 1px solid red;
        background-color: yellow;
        height: 50vh;
        width: 90%;
    }
}

.inner-box {
  height: 60%;
  width: 40%;
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}